.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.switch-wrap {
  border-radius: 150px;
  position: relative;
  display: block;
  justify-content: flex-start;
  background-color: #ccc;
  width: 48px;
  height: 20px;
  cursor: pointer;
}

.switch-wrap input {
  
}

.switch-wrap .switch {
  background-color: #007BFF;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  float: left;
}

.switch-wrap input {
  width: 0px
}

.switch-wrap .check-text {
  position: absolute;
  top: 0px;
  left: 3px;
  font-size: 0.8em;

}

.switch-wrap .check-text::after {
  position: absolute;
  content: 'Não';
  font-weight: bold;
  left: 18px;
}

.switch-wrap input:checked ~ .switch {
  background-color: #28A745;
  transform: translateX(140%);
  box-sizing: border-box;
  transition: all 0.2s;
}

.switch-wrap input:not(:checked) ~ .switch {
  background-color: #007BFF;
  transform: translateX(0%);
  box-sizing: border-box;
  transition: all 0.2s;
}

.switch-wrap input:checked ~ .check-text::after {
  color: #28A745;
  font-weight: bold;
  left: 1px;
  content: 'Sim';
  transition: all 0.2s;
}

.switch-wrap input:not(:checked) ~ .check-text::after {
  color: #007BFF;
  content: 'Não';
  font-weight: bold;
  font-weight: bold;
  left: 18px;
  transition: all 0.2s;
}

